@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD_pY1G3umkwnIDL1_yAaaF7h7GoEYmtwLhg&s" class="imagen" />

    <div class="form-group mt-5">
        <input id="BotonInfo" type="submit" value="Pulsa Aqui" class="btn btn-info" />
    </div>

</div>
